<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="com.outsystems.plugins.arexample" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>ARPlugin</name>
  <description>OutSystems Template for Cordova Plugin</description>
  <author>OutSystems Inc</author>

  <js-module name="ARPlugin" src="www/ARPlugin.js">
    <clobbers target="cordova.plugins.ARPlugin"/>
  </js-module>

  <platform name="android">

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="OSSocialLogins">
        <param name="android-package" value="com.outsystems.plugins.sociallogins.OSSocialLogins"/>
      </feature>

      <preference name="GradlePluginKotlinEnabled" value="true" />
      <preference name="GradlePluginKotlinCodeStyle" value="official" />
      <preference name="AndroidXEnabled" value="true"/>

    </config-file>

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="ARPlugin">
        <param name="android-package" value="com.outsystems.plugins.arexample.ARPlugin"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>

    <config-file parent="/manifest" target="AndroidManifest.xml">
      
      <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>
      <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    </config-file>


    <config-file parent="/manifest/application" target="AndroidManifest.xml">
      
      <activity
            android:name="com.google.ar.core.examples.java.helloar.ArTradeActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="locked">
        </activity>

      <meta-data android:name="com.google.ar.core" android:value="required" />

    </config-file>

    <!--Plugin core files-->
    <source-file src="src/android/com/outsystems/plugins/arexample/ARPlugin.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/arexample"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/AndroidPlatformInterface.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/arexample"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/CordovaImplementation.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/arexample"/>

    <!--Google AR Example files-->
    <!--Java files-->
    <source-file src="src/android/com/outsystems/plugins/arexample/ArTradeActivity.java" target-dir="app/src/main/kotlin/com/google/ar/core/examples/java/helloar"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/CameraPermissionHelper.java" target-dir="app/src/main/kotlin/com/google/ar/core/examples/java/helloar"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/DisplayRotationHelper.java" target-dir="app/src/main/kotlin/com/google/ar/core/examples/java/helloar"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/package-info.java" target-dir="app/src/main/kotlin/com/google/ar/core/examples/java/helloar"/>
    

    <!--Rendering-->
    <source-file src="src/android/com/outsystems/plugins/arexample/rendering/BackgroundRenderer.java" target-dir="app/src/main/kotlin/com/google/ar/core/examples/java/helloar/rendering"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/rendering/ObjectRenderer.java" target-dir="app/src/main/kotlin/com/google/ar/core/examples/java/helloar/rendering"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/rendering/package-info.java" target-dir="app/src/main/kotlin/com/google/ar/core/examples/java/helloar/rendering"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/rendering/PlaneRenderer.java" target-dir="app/src/main/kotlin/com/google/ar/core/examples/java/helloar/rendering"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/rendering/PointCloudRenderer.java" target-dir="app/src/main/kotlin/com/google/ar/core/examples/java/helloar/rendering"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/rendering/ShaderUtil.java" target-dir="app/src/main/kotlin/com/google/ar/core/examples/java/helloar/rendering"/>

    <!--assets-->
    <source-file src="src/android/com/outsystems/plugins/arexample/assets/trigrid.png" target-dir="assets"/>

    <!--res-->
    <source-file src="src/android/com/outsystems/plugins/arexample/res/drawable/ic_launcher.png" target-dir="res/drawable"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/res/layout/activity_main.xml" target-dir="res/layout"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/res/raw/object_fragment.shader" target-dir="res/raw"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/res/raw/object_vertex.shader" target-dir="res/raw"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/res/raw/passthrough_fragment.shader" target-dir="res/raw"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/res/raw/plane_fragment.shader" target-dir="res/raw"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/res/raw/plane_vertex.shader" target-dir="res/raw"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/res/raw/point_cloud_vertex.shader" target-dir="res/raw"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/res/raw/screenquad_fragment_oes.shader" target-dir="res/raw"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/res/raw/screenquad_vertex.shader" target-dir="res/raw"/>


    <!--Gradle dependencies as frameworks-->
    <framework src="com.google.ar:core:1.30.0" />
    <framework src="de.javagl:obj:0.2.1" />
    <framework src="com.android.support:appcompat-v7:27.0.2" />
    <framework src="com.android.support:design:27.0.2" />

    <!--we may need to include this one-->
    <!--implementation 'com.android.support:appcompat-v7:27.0.2'-->

  </platform>

  <platform name="ios">

    <hook type="before_plugin_install" src="hooks/install_prerequisites.js"/>
    <hook type="after_plugin_add" src="hooks/add_swift_support.js" />

    <config-file parent="/*" target="config.xml">
      <feature name="ARPlugin">
        <param name="ios-package" value="ARPlugin"/>
      </feature>
      <preference name="deployment-target" value="13" />
      <preference name="UseSwiftLanguageVersion" value="5" />
    </config-file>

		<!-- iOS Source Files -->
		<source-file src="src/ios/CordovaImplementation.swift" />
    <source-file src="src/ios/ARPlugin.swift" />
    <framework src="src/ios/frameworks/OSCore.xcframework" embed="true" custom="true" />
    
  </platform>

</plugin>