<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="com.outsystems.plugins.arexample" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>OSARAndroidExample</name>
  <description>OutSystems Template for Cordova Plugin</description>
  <author>OutSystems Inc</author>

  <js-module name="OSARAndroidExample" src="www/OSARAndroidExample.js">
    <clobbers target="cordova.plugins.OSARAndroidExample"/>
  </js-module>

  <platform name="android">

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="OSSocialLogins">
        <param name="android-package" value="com.outsystems.plugins.sociallogins.OSSocialLogins"/>
      </feature>

      <preference name="GradlePluginKotlinEnabled" value="true" />
      <preference name="GradlePluginKotlinCodeStyle" value="official" />
      <preference name="AndroidXEnabled" value="true"/>

    </config-file>

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="OSARAndroidExample">
        <param name="android-package" value="com.outsystems.plugins.arexample.OSARAndroidExample"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>

    <config-file parent="/manifest" target="AndroidManifest.xml">
      
      <uses-feature android:name="android.hardware.camera.ar" android:required="true"/>
      <uses-feature android:glEsVersion="0x00020000" android:required="true" />

    </config-file>

    <config-file parent="/manifest/application" target="AndroidManifest.xml">
      
      <activity
            android:name="examples.kotlin.helloar.HelloArActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="locked">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Indicates whether "Google Play Services for AR" (ARCore) is "required" or "optional". -->
        <meta-data android:name="com.google.ar.core" android:value="required" />

    </config-file>

    <!--Plugin core files-->
    <source-file src="src/android/com/outsystems/plugins/arexample/OSARAndroidExample.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/arexample"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/AndroidPlatformInterface.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/arexample"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/CordovaImplementation.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/arexample"/>

    <!--Google AR Example files-->
    <!--Java files-->
    <!--../helpers-->
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/helpers/CameraPermissionHelper.java" target-dir="app/src/main/kotlin/examples/java/common/helpers"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/helpers/DepthSettings.java" target-dir="app/src/main/kotlin/examples/java/common/helpers"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/helpers/DisplayRotationHelper.java" target-dir="app/src/main/kotlin/examples/java/common/helpers"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/helpers/FullScreenHelper.java" target-dir="app/src/main/kotlin/examples/java/common/helpers"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/helpers/InstantPlacementSettings.java" target-dir="app/src/main/kotlin/examples/java/common/helpers"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/helpers/SnackbarHelper.java" target-dir="app/src/main/kotlin/examples/java/common/helpers"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/helpers/TapHelper.java" target-dir="app/src/main/kotlin/examples/java/common/helpers"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/helpers/TrackingStateHelper.java" target-dir="app/src/main/kotlin/examples/java/common/helpers"/>
    <!--../samplerender-->
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/samplerender/arcore/BackgroundRenderer.java" target-dir="app/src/main/kotlin/examples/java/common/samplerender/arcore"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/samplerender/arcore/PlaneRenderer.java" target-dir="app/src/main/kotlin/examples/java/common/samplerender/arcore"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/samplerender/arcore/SpecularCubemapFilter.java" target-dir="app/src/main/kotlin/examples/java/common/samplerender/arcore"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/samplerender/Framebuffer.java" target-dir="app/src/main/kotlin/examples/java/common/samplerender"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/samplerender/GLError.java" target-dir="app/src/main/kotlin/examples/java/common/samplerender"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/samplerender/GpuBuffer.java" target-dir="app/src/main/kotlin/examples/java/common/samplerender"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/samplerender/IndexBuffer.java" target-dir="app/src/main/kotlin/examples/java/common/samplerender"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/samplerender/Mesh.java" target-dir="app/src/main/kotlin/examples/java/common/samplerender"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/samplerender/SampleRender.java" target-dir="app/src/main/kotlin/examples/java/common/samplerender"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/samplerender/Shader.java" target-dir="app/src/main/kotlin/examples/java/common/samplerender"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/samplerender/Texture.java" target-dir="app/src/main/kotlin/examples/java/common/samplerender"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/java/common/samplerender/VertexBuffer.java" target-dir="app/src/main/kotlin/examples/java/common/samplerender"/>

    <!--Kotlin files-->
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/kotlin/common/helpers/ARCoreSessionLifecycleHelper.kt" target-dir="app/src/main/kotlin/examples/kotlin/common/helpers"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/kotlin/helloar/HelloArActivity.kt" target-dir="app/src/main/kotlin/examples/kotlin/helloar"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/kotlin/helloar/HelloArRenderer.kt" target-dir="app/src/main/kotlin/examples/kotlin/helloar"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/examples/kotlin/helloar/HelloArView.kt" target-dir="app/src/main/kotlin/examples/kotlin/helloar"/>

    <!--assets-->
    <source-file src="src/android/com/outsystems/plugins/arexample/models/trigrid.png" target-dir="assets/models"/>

    <!--Gradle dependencies as frameworks-->
    <framework src="com.google.ar:core:1.30.0" />
    <framework src="de.javagl:obj:0.2.1" />
    <framework src="androidx.appcompat:appcompat:1.1.0" />
    <framework src="androidx.lifecycle:lifecycle-common-java8:2.2.0" />
    <framework src="com.google.android.material:material:1.1.0" />
    <framework src="org.jetbrains.kotlin:kotlin-stdlib:1.4.20" />
    <framework src="org.jetbrains.kotlin:kotlin-stdlib-jdk8:1.4.20" />


  </platform>

</plugin>