<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin id="com.outsystems.plugins.arexample" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
  <name>OSARAndroidExample</name>
  <description>OutSystems Template for Cordova Plugin</description>
  <author>OutSystems Inc</author>

  <js-module name="OSARAndroidExample" src="www/OSARAndroidExample.js">
    <clobbers target="cordova.plugins.OSARAndroidExample"/>
  </js-module>

  <platform name="android">

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="OSSocialLogins">
        <param name="android-package" value="com.outsystems.plugins.sociallogins.OSSocialLogins"/>
      </feature>

      <preference name="GradlePluginKotlinEnabled" value="true" />
      <preference name="GradlePluginKotlinCodeStyle" value="official" />
      <preference name="AndroidXEnabled" value="true"/>

    </config-file>

    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="OSARAndroidExample">
        <param name="android-package" value="com.outsystems.plugins.arexample.OSARAndroidExample"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/com/outsystems/plugins/arexample/OSARAndroidExample.kt" target-dir="app/src/main/kotlin/com/outsystems/plugins/arexample"/>
  
  </platform>

  <platform name="ios">

    <hook type="before_plugin_install" src="hooks/install_prerequisites.js"/>
    <hook type="after_plugin_add" src="hooks/add_swift_support.js" />

    <config-file parent="/*" target="config.xml">
      <feature name="OSARAndroidExample">
        <param name="ios-package" value="OSARAndroidExample"/>
      </feature>
      <preference name="deployment-target" value="13" />
      <preference name="UseSwiftLanguageVersion" value="5" />
    </config-file>

		<!-- iOS Source Files -->
		<source-file src="src/ios/CordovaImplementation.swift" />
    <source-file src="src/ios/OSARAndroidExample.swift" />
    <framework src="src/ios/frameworks/OSCore.xcframework" embed="true" custom="true" />
    
  </platform>

</plugin>